@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/NunitoExtraBold.ttf");
  font-family: "Nunito";
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/PlusJakartaSans.ttf");
  font-family: "PlusJakartaSans";
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/Rubik.ttf");
  font-family: "Rubik";
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/Urbanist.ttf");
  font-family: "UrbanistThin";
  font-weight: 100;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/Urbanist.ttf");
  font-family: "UrbanistNormal";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/Urbanist.ttf");
  font-family: "UrbanistBold";
  font-weight: 700;
}