@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/NunitoExtraBold.ttf");
  font-family: "Nunito";
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/PlusJakartaSans.ttf");
  font-family: "PlusJakartaSans";
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../assets/fonts/Rubik.ttf");
  font-family: "Rubik";
  font-weight: 800;
}